In [2]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.neighbors import NearestNeighbors

In [3]:
cars = pd.read_csv('mtcars.csv')

In [5]:
cars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [8]:
cars.rename(columns = {'Unnamed: 0': 'cars_name'}, inplace = True)
cars.head()

,cars_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [18]:
target = [15,300,160,3.2]

x = cars.iloc[:, [1,3,4,6]].values
x

array([[  21.   ,  160.   ,  110.   ,    2.62 ],
       [  21.   ,  160.   ,  110.   ,    2.875],
       [  22.8  ,  108.   ,   93.   ,    2.32 ],
       [  21.4  ,  258.   ,  110.   ,    3.215],
       [  18.7  ,  360.   ,  175.   ,    3.44 ],
       [  18.1  ,  225.   ,  105.   ,    3.46 ],
       [  14.3  ,  360.   ,  245.   ,    3.57 ],
       [  24.4  ,  146.7  ,   62.   ,    3.19 ],
       [  22.8  ,  140.8  ,   95.   ,    3.15 ],
       [  19.2  ,  167.6  ,  123.   ,    3.44 ],
       [  17.8  ,  167.6  ,  123.   ,    3.44 ],
       [  16.4  ,  275.8  ,  180.   ,    4.07 ],
       [  17.3  ,  275.8  ,  180.   ,    3.73 ],
       [  15.2  ,  275.8  ,  180.   ,    3.78 ],
       [  10.4  ,  472.   ,  205.   ,    5.25 ],
       [  10.4  ,  460.   ,  215.   ,    5.424],
       [  14.7  ,  440.   ,  230.   ,    5.345],
       [  32.4  ,   78.7  ,   66.   ,    2.2  ],
       [  30.4  ,   75.7  ,   52.   ,    1.615],
       [  33.9  ,   71.1  ,   65.   ,    1.835],
       [  21.5  ,  120.1  ,   97.   ,    2.465],
       [  15.5  ,  318.   ,  150.   ,    3.52 ],
       [  15.2  ,  304.   ,  150.   ,    3.435],
       [  13.3  ,  350.   ,  245.   ,    3.84 ],
       [  19.2  ,  400.   ,  175.   ,    3.845],
       [  27.3  ,   79.   ,   66.   ,    1.935],
       [  26.   ,  120.3  ,   91.   ,    2.14 ],
       [  30.4  ,   95.1  ,  113.   ,    1.513],
       [  15.8  ,  351.   ,  264.   ,    3.17 ],
       [  19.7  ,  145.   ,  175.   ,    2.77 ],
       [  15.   ,  301.   ,  335.   ,    3.57 ],
       [  21.4  ,  121.   ,  109.   ,    2.78 ]])

In [19]:
nbrs = NearestNeighbors(n_neighbors = 1).fit(x)
print(nbrs.kneighbors([target]))

(array([[ 10.77474942]]), array([[22]], dtype=int64))

In [20]:
cars.iloc[22]

cars_name    AMC Javelin
mpg                 15.2
cyl                    8
disp                 304
hp                   150
drat                3.15
wt                 3.435
qsec                17.3
vs                     0
am                     0
gear                   3
carb                   2
Name: 22, dtype: object